doctype html
html(lang="pt-br")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="/CSS/Estilos_Basicos.css")
		link(rel="stylesheet", href="/CSS/Contatos_Estilos.css")
		link(rel="stylesheet", href="/CSS/gradExp_Estilo.css")
		link(rel="stylesheet", href="/CSS/Hobbies_Estilos.css")
		link(rel="stylesheet", href="/CSS/Portfolio_Estilos.css")
		link(rel="stylesheet", href="/CSS/Software_Estilos.css")

		title ArchiViz-LuFipe
	body(id="corpo_ID")
		div(id="showRoom_ID")
		header 
			h1 ArchiViz||
			h4 Luiz Felipe Castro Coelho
		main
			section(id="intro_ID")
				h2 Projetos Principais 
				h2 Destaques 
				div(class="separadorH_CLASS")
				div(class="separadorH_CLASS")
				img(id="mainImage_ID", src="", alt="MAINDIV_IMAGE")
				div(id="highDiv_ID")
					img(src="", alt="IMG_1")
					img(src="", alt="IMG_2")
					img(src="", alt="IMG_2")
			section(id="sectionPortfolio_ID")
				div(style="display: flex")
					h2(style="font-size: 3.5em; margin: auto 1em auto 1em; color: #0BA10B;") Portfolio 
					button(class="btn_CLASS", style="margin-right: .25em; margin-left: 1em;") Ambientes 
					button(class="btn_CLASS", style="margin: auto .25em auto .25em") Modelos 3D
					button(class="btn_CLASS", style="margin-left: .25em;") Visualização 3D
				div(class="separadorH_CLASS" style="background-color:#0BA10B;")
				div(id="boxViewport_ID")
					if imagem
						div(class="portfolioViewport_CLASS", id="portfolioAmbientes_ID", style="display: flex;")
							each elem,i in imagem
								if elem.TIPO == "ambiente"
									div(name="smokeScreen", class="smokeScreen_CLASS")
										div(name="titPost", class="titPost_CLASS") #{elem.NOME}
										img(name="imgPerf", class="imgPerf_CLASS", src=("/IMAGENS/"+usuario.PERFIL), alt=usuario.PERFIL)
										div(name="authPost", class="authPost_CLASS") #{elem.AUTOR}
									img(name="imgPost", class="imgPost_CLASS", src=("/IMAGENS/PROJETOS/"+elem.FILE), alt=elem.FILE)
									div(name="clicavel", class="clicavel_CLASS")
						div(class="portfolioViewport_CLASS" id="portfolioModelos_ID"  style="display: none;")
							each elem,i in imagem
								if elem.TIPO == "modelo"
									div(name="smokeScreen", class="smokeScreen_CLASS")
										div(name="titPost", class="titPost_CLASS") #{elem.NOME}
										div(name="authPost", class="authPost_CLASS") #{elem.AUTOR}
									img(name="imgPost", class="imgPost_CLASS", src=("/IMAGENS/PROJETOS/"+elem.FILE), alt=elem.FILE)
									div(name="clicavel", class="clicavel_CLASS")
						div(class="portfolioViewport_CLASS" id="portfolio3Dviews_ID"  style="display: none;")
		footer
			section(id="authSection_ID")
				if usuario
					img(id="perfImage_ID", src=("/IMAGENS/"+usuario.PERFIL), alt="FOTOPERFIL")
				div(id="authBtn_ID")
					button(class="btn_CLASS") Sobre
					button(class="btn_CLASS") Graduação 
					button(class="btn_CLASS") Software 
					button(class="btn_CLASS") Hobbies 
					button(class="btn_CLASS") Contatos
				div(id="authVP_ID")
					if usuario
						div(id="aboutGrid_ID")
							p=usuario.DESCRICAO
					div(id="divExpGard_ID", class="mainBlock_CLASS")
					if INFO
						div(id="softGrid_ID")
							each elem,i in INFO
								if elem.TIPO == "software"
									div(name="softCel", class="softCel_CLASS")
										img(name="softIMG", class="softIMG_CLASS", src=("/IMAGENS/INFO/"+elem.FILE), alt=elem.FILE)
										div(name="softSoft", class="softSoft_CLASS")
										div(name="softLv", class="softLv_CLASS")
											each lv,i in range(0:5)
												if elem.lv <= i
													span 0x26AB
												else
													span 0x26AA
						div(id="hobbieGrid_ID")
							each elem,i in INFO
								if elem.TIPO == "hobbie"
									div(name="hobbyCel", class="hobbyCel_CLASS")
										img(name="hobbyIMG", class="hobbyIMG_CLASS", src=("/IMAGENS/INFO/"+elem.FILE), alt=elem.FILE)
										div(name="hobbyHobby", class="hobbyHobby_CLASS")
										div(name="softLv", class="softLv_CLASS")
											each lv,i in range(0:5)
												if elem.lv <= i
													span 0x26AB
												else
													span 0x26AA
						div(id="contGrid_ID")
		script(src="") 
